language: scala

scala:
  - 2.11.12
  - 2.12.10
  - 2.13.1

jdk: oraclejdk8

env:
  global:
    # ENCRYPTION_PASSWORD
    - secure: "qHE0ZvKP4IXVQgiVc3gkpGaOAq41d+znCluUqNNVBy13K7FhAeVkRROfKqDh9Bq+Wxm2NGBuS+SsmHHfXChZRAU2uS1arvkm0D+tmTd2tqxMpTORnFpYMsfTilHC4uShtwWaqGg7CyoUDVT2cGAmv0BRHX/VPMsDaaHgMBQI8mxXgiJHEeOVtwfZI6E/OnsiR5sPt0idDcXvsMOWX0NXvMRhH1YxFRXUr+I/dCCBzIqONcReC92sf4+E+N4kdfvoqzxtS/vgiRCUGOGGZunANiEN2ALKPyGriR47kcsAi2MwN1rYM/u0S6QopFmMGBqzmeQ39dZD+vpZ10UIss4VeB3VBTZHTGefReJHXdoOUVXqDSjhxSei2a8cJnkX3nU4cKKIwK2BlJVYlX52IieMc3Xd6nGrTUC7CRTRaW6tkJ2HxYre0ZYw9wjUatPE28s6JUXORgNbS1MPAF1zSTblUWtxt9qLwdW0yrILLLNJTPi6nnQmh8tQJ9Rzw8pePWBjuuY6ED3xyZpW7euvquPO2XgypsKqdO3GiMroxWjZ15a2Vy/BXWuYFUGV+iRTBDZ2M2ZqVvW3e2LSfTEKSuTmXTpylPObVsCsv4RK695MAWeMi7SqDrGFrbNeTl2s/sM9R8C7XdHtOIxS8cA9/RBgZjnVxCjHn6W84Wuq6L3BoM0="
    # GITHUB_TOKEN
    - secure: "vEKOyq/YLuy0/YM6yI6uRl8mN+VbAnae3zuPbBsvAZMwHQOqNGsi4x+KPoZ29YJYhVDR5GULDQjDbI4ncZHE8meCp3T4V/LvKW2REZeNriybSwbT40HN4uNN4dGsoYswzeSo5BleVAur207ZG7SMMDDWSzZeY0fmHH5btPKStrfXXvQMGgC7OdM9Bpn5zlhtmw5sGu7q06AzQZZ+UHn8CRGJiSZsChzvYuN5dUPqKjF3bJVaxyHyM7JWvZMEUTWKbc3+cDvBczTAahrOtEdlOF6ox5byL6Pwkuat3LCqCRapcOsS160LVjL8uDsZHHnw1JA5WHersdTbYTFDlGHxPnTKX0r39bPYLPJvdGVTyg7HAZs646RKjd1piKc39jILkXX28cO13KN1ZogbUedEQKTRfqU6fLJPJz+51JVo+5kVD+BSiMhI5dZICFF9Mp8k//4y/GBwAgTQBrQrU+9gUOPgK3HMxEUSpfGQtR8YYhTUfetykth7kO3AhFyIsUfqbNLEKYtbV9lstY1Bsu8M0frKpwEHdGM/Ksp9N8VWwuFCRDsXvBxq5PsPRJc1Qqh0OTwTts1mVZ+6XpNB4GKGQQ+UtKbwDXVVq4RdWUNmuOuDdwXDSF7dfaoQAei04UHUw8s7KiqScLiQiccHIdNnuX83ICfPq2XPAYPrY1XqRno="
    # GITHUB_ACCESS_TOKEN
    - secure: "hnYH+peS4F4FQ+QSBUsBSjvuyGjdjIwyetSHrPsUQeGPoDVK2+d/1Z31+ZwGLE1oTgDEr7T5QT7ocj7UxlfGvVjUM+8zg/fs0QagrMlJjB5dUVvrgVN7jHohqHIViM6kKotEAuAcn/VfoIQhY8s2miiZG7yP9AUKzim+Lj+Hstn7anzNtargRHBKW3Wkp85rrPlzCh+So7C9SoIBHaow6trX41fSbL7zgnDeBKbfB7c4m1r35lUqC7/JOF7srXqYRodWJKPlTLc6m7QA03d3u4fB7wa62EbuvC4fs2D+yjpNDVc0rpZtK8eSt8htbhJ/1f4uJ3dYxwYA7Jdv8yd2f6px+luzZjZZrlTXxtwTwKX71nSlSC13y1p4mvftT+W0L1SBbszCpRBcLJCbLwGaHu5l391nieKeJjN5iRPbx8ljquN71l5wjVcxekWOYBYLrefA/GNOwUdDh66Way+KfQy/rJ0GskcyIhe19EG5RjAaEq5ElpbDF5+Eu22CYduARGhbELMg6bj5fIJ3mNMvnRi8Umm+KCv6XoAZTjXEzfiidNy/kSIuE8ZhY+1L8yQW/nJB4/+mYy/xL5MyGVMlXmQi/zmL2lsmEJtowBoZdwxt+jnVqapQivXw38+1eU3IwnxMJ5juY6PfdQL6ZI0c7FgI4luHioG30s9TzgrbBQY="
    # DISCORD_WEBHOOK_TOKENS
    - secure: "GZg/YFquTrDx4xIK063jp8W87VvyqWzW2eKfQIsRC7tRumwk8vYV3YGaipPCeNBN6w31Z+1iO0QOU6GjieqeaYWc6ssqL+eDvze0R58RowfJ6bUhHZguo+CDuawZtOoMv9P+Didurrt8oAKfGksqEJY5rxw4BE5xqiuPMY/TgqSkiZE1pTCicHupdqCYF8yN90LfBuEQCWdcnNmsc4wvbRAQiHqhHDERDQgOawlOOJHE9wv5eehJk55WC7zC8SvQxC9wdeI4iqjW19nsf3F9c1uqhBlet0V2nlRonlN9NaY8FwDRVPRiXj5+QBLSJj9CFiK/6RWSV/oTqovoitG/5xD6IW/nUClB7gXlXN+FcZEIlKc9+tFGQjLShXsZaRRDUWM/QMQAiqvscBNl2v8m4VPyS+8B98Br8AMdDM7OB7MUTRVADQgKuHFgCS8X2sFmuj950D4QBldr0oNgtaY6hOaFaCFp5xKFCjIw7dxtR7WjQ/hK+wA2nm/qVKC2byRIzqSVEe4G6OCwclKdHcHRbjxPfHZxioIqwhYCLta6NdlX4oZCo6vZnYr4BTbFI2H6cCWTzwoJzT+ijAknDqVPmn8rM2xIpateL1EaeGPurK3mElnQO9YgSSwQ5z5SYiTWohOIUhzRfZZzamw7rTyfoXup7XwANnz+p3QsVqCizFY="
    - SBT=sbt

install:
  - $SBT transferCommonResources
  - scripts/commonSetup

script:
  - $SBT ++$TRAVIS_SCALA_VERSION checkHeaders test:compile transferPublishAndTagResources
  - scripts/publishAndTag 'slamdata/slamdata-predef'

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
